* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

section {
  padding: 70px 0;
}
.in-the-new {
  position: relative;
}
.in-the-new .title-bar {
  width: 160px;
  height: 50px;
  font-size: 24px;
  background-image: linear-gradient(rgba(245, 245, 245, 0.8));
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  align-content: center;
  margin-left: 140px;
  position: absolute;
  z-index: 2;
  top: -25px;
}

.container {
  width: 1200px;
  margin: auto;
  z-index: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -15px;
}

div[class*="col-"] {
  padding-inline: 15px;
  margin-bottom: 30px;
}

.col-8 {
  flex-wrap: wrap;
  display: block;
  width: 66.66666666666667%;
}

.col-4 {
  flex-wrap: wrap;
  display: block;
  width: 33.33333333333333%;
  z-index: 1;
}
.col-4 .image {
  width: 100%;
  height: 360px;
  background-image: linear-gradient(rgba(66, 76, 143, 0.7)),
    url("../image/aside-left.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.col-4 .image .overlay-text {
  padding: 100px 40px 0 70px;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
}
.col-4 .image .overlay-text p {
  border-left: 2px solid orange;
  padding-left: 20px;
}
.news-top,
.news-bottom {
  display: flex;
  flex-wrap: wrap;
}

.image,
.description {
  height: 360px;
  position: relative;
  margin: auto 0px;
}
.col-8 .image-left {
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  color: rgb(240, 240, 240);
  padding-left: 50px;
}

.description .arrow-left {
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  left: -15px;
  top: 40px;
  transform: rotate(45deg);
}
.description article {
  color: blue;
  margin-bottom: 60px;
}
.sum-description {
  font-size: 22px;
  margin-bottom: 30px;
}

.news-top .image {
  width: calc(50% + 15px);
}

.news-top .image img {
  height: 360px;
}

.news-top .description {
  width: calc(50% - 15px);
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 40px;
}

.card {
  height: 360px;
  width: 100%;
  background-color: rgb(14, 177, 241);
  color: white;
  padding: 40px;
}
.card .fact h3 {
  font-size: 22px;
  padding: 30px 0;
}
.description p {
  margin-left: 30px;
  border-left: 2px solid orange;
  padding-left: 20px;
  font-size: 17px;
}
.change-font {
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.card img {
  height: 360px;
}

.news-bottom .image,
.news-bottom .description {
  width: 50%;
}

.news-bottom .image {
  height: 360px;
  background-size: 100% 360px;
  background-repeat: no-repeat;
}

.bg-gradient-overlay {
  position: relative;
}

.bg-gradient-overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #ccc;
}

.image-left {
  color: #fff;
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6));
}
.image-left p {
  z-index: 2;
  position: absolute;
}

.bg-gradient-overlay {
  position: relative;
  overflow: hidden;
}

.bg-gradient-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-image: linear-gradient(
    to left,
    rgb(255, 200, 200) 5%,
    rgb(255, 120, 120) 20%,
    rgb(221, 60, 30) 50%,
    rgb(180, 40, 40) 70%,
    rgb(120, 20, 20) 90%
  );

  opacity: 0.8;
  border: 1px solid #ccc;
  pointer-events: none;
  z-index: 1;
}

/* responsive */
@media (max-width: 1400px) {
  .col-8 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}

@media (max-width: 820px) {
  .col-8 {
    width: 100%;
  }
  .col-4 {
    width: 50%;
  }
}
@media (max-width:600px) {
  .col-8{
    width: 50%;
  }
  .col-4{
    width: 100%
  }
  
}
