@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Bayon&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fasthand&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+VN+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

section {
  padding: 70px 0;
}
.in-the-new {
  position: relative;
}
.in-the-new .title-bar {
  width: 160px;
  height: 50px;
  font-size: 24px;
  background-image: linear-gradient(rgba(245, 245, 245, 0.8));
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  align-content: center;
  margin-left: 150px;
  position: absolute;
  z-index: 2;
  top: -25px;
}
.in-the-new .title-bar h4 {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  margin: auto;
  z-index: 1;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -15px;
}

div[class*="col-"] {
  padding-inline: 15px;
  margin-bottom: 30px;
}

.col-8 {
  /* flex-wrap: wrap; */
  /* display: block; */
  width: 66.66666666666667%;
}

.col-4 {
  flex-wrap: wrap;
  display: inline-block;
  width: 33.33333333333333%;
  z-index: 1;
}
.col-4 .image {
  width: 100%;
  height: 360px;
  background-image: linear-gradient(rgba(66, 76, 143, 0.7)),
    url("../image/aside-left.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.col-4 .image .overlay-text {
  padding: 100px 40px 0 70px;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
}
.col-4 .image .overlay-text p {
  border-left: 2px solid orange;
  padding-left: 20px;
}
.news-top,
.news-bottom {
  display: flex;
  flex-wrap: wrap;
}

.image,
.description {
  height: 360px;
  position: relative;
  margin: auto 0px;
}
.col-8 .image-left {
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  color: rgb(240, 240, 240);
  padding-left: 50px;
}
.col-8 .news-top,
.col-4 .image,
.col-8 .news-bottom {
  cursor: pointer;
}
.description .arrow-left {
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  left: -15px;
  top: 40px;
  transform: rotate(45deg);
}

.arrow-left p {
  font-size: 17px;
  color: #4e4d4d;
}
.description article {
  color: blue;
  margin-bottom: 60px;
}
.description article:hover {
  cursor: pointer;
  color: blueviolet;
}
.sum-description h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
  color: #4e4d4d;
}

.news-top .image {
  width: calc(50% + 15px);
}

.news-top .image img {
  height: 360px;
}

.news-top .description {
  width: calc(50% - 15px);
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 40px;
}

.card {
  height: 360px;
  width: 100%;
  background-color: rgb(14, 177, 241);
  color: white;
  padding: 40px;
}
.card .fact h3 {
  font-size: 22px;
  padding: 30px 0;
}
.fact .description .fact-description {
  font-size: 15px;
  color: #eae9e9;
}
.fact .description .change-font {
  color: #eae9e9;
  padding-top: 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -1px;
}
.description p {
  margin-left: 30px;
  border-left: 2px solid orange;
  padding-left: 20px;
  font-size: 15px;
  color: #4e4d4d;
}
.change-font {
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.card img {
  height: 360px;
}

.news-bottom .image,
.news-bottom .description {
  width: 50%;
}

.news-bottom .image {
  height: 360px;
  background-size: 100% 360px;
  background-repeat: no-repeat;
}

.bg-gradient-overlay {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.bg-gradient-overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #ccc;
}

.image-left {
  color: #fff;
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6));
}
.image-left p {
  z-index: 2;
  position: absolute;
  color: white;
  font-size: 16px;
  line-height: 25px;
}
.image-left span,
.overlay-text span {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -1px;
  font-size: 12px;
}
.bg-gradient-overlay {
  position: relative;
  overflow: hidden;
}

.bg-gradient-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to right, #da5926, #e347a0, #ffffff52);
  opacity: 0.8;
  border: 1px solid #ccc;
  pointer-events: none;
  z-index: 1;
}

.col-4 {
  display: inline-block;
  vertical-align: top;
}
/* laptop */
@media (max-width: 1440px) {
  .in-the-new .title-bar {
    margin-left: 110px;
  }
}

/* iPad Air*/
@media (max-width: 820px) {
  .in-the-new .title-bar {
    width: 150px;
    height: 50px;
    margin-left: 25px;
  }
  .container {
    margin-inline: 40px;
  }
  .col-8 {
    width: 100%;
  }

  .col-4 {
    width: 50%;
  }
}

/* Phones */
@media (max-width: 600px) {
  .container {
    margin-inline: 20px;
  }
  .col-8 {
    width: 100%;
  }
  .news-top .image {
    width: 100%;
    height: 330px;
  }
  .news-top .image img {
    height: 330px;
  }
  .news-top .description {
    width: 100%;
    height: 330px;
    padding: 20px;
  }
  .news-top .description article {
    margin-bottom: 30px;
  }
  .description .arrow-left {
    width: 25px;
    height: 25px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    top: -14px;
    transform: rotate(45deg);
  }
  .col-4 {
    width: 100%;
  }
  .col-4 .card {
    padding: 20px;
    height: 330px;
  }
  .image .overlay-text p {
    margin: -20px;
  }

  .bg-gradient-overlay .description,
  .bg-gradient-overlay .image {
    width: 100%;
    position: absolute;
  }

  .bg-gradient-overlay::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #ccc;
  }
  .in-the-new .title-bar {
    width: 140px;
    height: 40px;
    margin-left: 10px;
  }
  .description .image-left {
    margin-left: -30px;
  }
}
